.circular-progress-bar {
    --track-color: rgb(70, 70, 70);
    --progress-color: #4CAF50;
    --thickness: 12px;
    margin: 10px;
    align-self: center;
}

.circular-progress-bar.warning {
    --progress-color: orange;
    --thickness: 15px;
}

.circular-progress-bar.slim {
    --thickness: 5px;
    --track-color: rgba(100, 100, 100, 0.5);
    --progress-color: cyan;
}