name: Action Lint

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  actionlint:
    name: Lint GitHub Actions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Run actionlint
        uses: raven-actions/actionlint@v2
